<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>College Football Team Tracker</title>

  </head>

  <body>
    <h1 data-position="header">Whats your favorite college football team?</h1>


    <section data-position="add-quote">
      <h2>Add Team</h2>

      <form action="/teams" method="POST">
        <input type="text" placeholder="team name" name="team" />
        <input type="text" placeholder="team quote" name="quote" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="teams">

    <h2> Teams </h2>
    <ul class = "teams">
        <% for(var i = 0; i < teams.length; i++) {%>
        <li class = "teams">
            <span>Name: <%= teams[i].team %></span><br>
            <span>Quote: <%= teams[i].quote %></span><br>
            <form action="/deleteTeam/<%= teams._id %>" method="post">
              <input type="submit" value = "Delete" onClick="return confirm('This will delete the selected team.')" />
            </form>
            <form action="/updateTeam/<%= teams._id %>" method="post">
              <input type="submit" value = "Update" onClick="return confirm('This will update the selected team.')" />
            </form>
            <div> <br> </div>
        </li>
        <% } %>

    </section>
    
    <a target="blank" href="https://github.com/Kiikz/reach-quebec">Source Code</a>
    </html>
    

    <script src="/main.js"></script>
  </body>
</html>